.tittle {
    font-size: 30px;
   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.singlecontent{
    padding:0 20px;
    text-align: justify;
}
.singlecat{
    background: #333;
    padding: 5px;
    color: white;
    font-size: 12px;
}