ion-card{
    background: #efefef;
}
ion-card  a{
    text-decoration: none;
}
ion-card-title{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
ion-card-content{
    color:black;
}